/* 
---------- Fonts ---------- 

BIG BOY
font-family: 'Cinzel Decorative', serif;

LIL BOY
font-family: 'Cormorant SC', serif;

>h3
font-family: 'Libre Baskerville', serif;

p
font-family: 'Quattrocento', serif;

*/

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  background-color: rgb(200, 200, 200);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  font-family: 'Quattrocento', serif;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgb(25,25,30);
  z-index: 100;
}

header a {
  margin-right: auto;
  align-self: center;
}

header a img {
  height: 80px;
  padding: 7px 27px;
}

header nav {
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 10px 20px;
  font-size: 24px;
}

header nav ul li:hover {
  color: rgb(225, 110, 50);
  transition: 0.3s;
}

#gallery {
  color: rgb(200, 200, 200);
}

#gallery:hover {
  color: rgb(225, 110, 50);
  transition: 0.3s;
}

#your-event {
  color: rgb(200, 200, 200);
  background-color: rgb(60, 60, 70);
  padding: 7px 11px;
  border: 3px solid rgb(80, 80, 80);
  border-radius: 5px;
}

#your-event:hover {
  color: rgb(225, 110, 50);
  background-color: rgb(45, 45, 55);
  border-color: rgba(175, 90, 50, 0.75);
  transition: 0.3s;
}

#hero {
  position: relative;
  padding-top: 99px;
  background-image: url('../assets/images/dane_hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vw;
}

#mid-plane,
#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

h1, h2 {
  color: white;
  text-align: center;
  margin: 25px 0;
  white-space: nowrap;
}

#mid-plane {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

h1 {
  font-size: 8vw;
  font-family: 'Cinzel Decorative', serif;
}

h2 {
  font-size: 4vw;
  font-family: 'Cormorant SC', serif;
}

#social-btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
}

#social-btns li {
  margin: auto 15px;
}

#social-btns li img {
  width: 3vw;
  height: auto;
}

main {
  margin: auto 5vw;
  padding-bottom: 25px;
}

h3 {
  text-align: center;
  font-size: 32px;
  font-family: 'Libre Baskerville', serif;
}

.services {
  display: flex;
  align-items: center;
  padding: 42px;
}

.services img {
  width: 32vw;
  margin-right: 32px;
}

.services h4 {
  font-size: 24px;
  padding-bottom: 11px;
  font-family: 'Libre Baskerville', serif;
}

.services h4,
.services p {
  margin: 0;
}

.services-text {
  margin-right: 2vw;
}

footer {
  background-color: rgb(25, 25, 30);
  color: rgb(201, 201, 201);
  font-family: 'Quattrocento', serif;
  display: flex;
  justify-content: space-evenly;
  line-height: 2;
  padding-bottom: 15px;
}

footer ul {
  padding-left: 0;
}

h5 {
  font-size: 24px;
  margin-bottom: 10px;
}